:root {
    --blue: rgb(150, 168, 167);
    --clean: #ebdfd5;
    --gray: #353535;
    --red: #FC4A1A;
    --white: #f0efef;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 100vh;
    justify-content: center;
}

.calculator {
    background-color: var(--blue);
    box-shadow: 0 10px 10px var(--gray);
    height: 450px;
    width: 380px;
}

.screen {
    align-items: center ;
    background-color: var(--clean);
    color: var(--gray);
    display: flex;
    font-family: sans-serif;
    font-size: 38px;
    height: 80px;
    justify-content: flex-end;
    margin: 22px;
    padding: 5px;
}

button {
    background-color: var(--clean);
    border: none;
    color: var(--gray);
    cursor: pointer;
    height: 60px;
}

.buttons {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: (5, 50px);
    padding: 2px 22px;
    
}

.btn-equals {
    grid-column: span 2;
}

.btn-operator,
.btn-equals,
.btn-number,
.btn-clear,
.btn-delete {
    font-size: 120%;
}

.btn-number:hover,
.btn-dot:hover {
    background-color: var(--white)
}

.btn-operator:hover,
.btn-equals:hover{
    color: var(--red);
}

.btn-clear:hover,
.btn-delete:hover {
    background-color: var(--red);
    color: var(--clean);
}

